
.title-edit {
    font-size: large;
}

.select2-custom {
    background-color: white;
}

.addenda-modelo-tr-parent {
    background-color: #00aa88;
    color: whitesmoke
}

.addenda-modelo-input {
    background-color: lightblue
}