
    <div class="scrollbar-inner">
        <div class="user">
            <div class="user__info" data-toggle="dropdown">
                <img class="user__img" src="" alt="">
                <div>
                    <div class="user__name">Gabriel Puga</div>
                    <div class="user__email">gpuga@movilpyme.com</div>
                </div>
            </div>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="">Ver Perfil</a>
                <a class="dropdown-item" href="">Salir</a>
            </div>
        </div>

        <ul class="navigation">
            <li><a href="/home"><i class="zmdi zmdi-home"></i> Home</a></li>
            <li class="navigation__sub">
                <a href=""><i class="zmdi zmdi-wrench"></i> Configuración</a>
                <ul>
                	<li><a href="/conf/logo">Logotipo</a></li>
                	<li><a href="/conf/email">Correo Electrónico</a></li>
                </ul>
            </li>
            <li class="navigation__sub">
                <a href=""><i class="zmdi zmdi-collection-text"></i> Administración</a>
                <ul>
                    <li><a href="/adm/empresas">Empresas</a></li>
                    <li><a href="/adm/usuarios">Usuarios</a></li>
                </ul>
            </li>
            <li class="navigation__sub">
                <a href=""><i class="zmdi zmdi-view-week"></i> Adendas</a>

                <ul>
                    <li><a href="/addenda/layout">Layout</a></li>
                    <li><a href="/addenda/plantillas">Plantillas</a></li>
                </ul>
            </li>

            <li><a href="/test"><i class="zmdi zmdi-format-underlined"></i> Test</a></li>

            <li><a href="/reportes"><i class="zmdi zmdi-widgets"></i> Reportes</a></li>

        </ul>
    </div>
